@using System.Text.RegularExpressions
@using System.Text.Json.Serialization
@using lootefix.Data
@using Microsoft.AspNetCore.Identity
@model GroupInventory
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext db

@{
    ViewData["Title"] = "Home Page";
    var user = await UserManager.GetUserAsync(User);
    var session = db.Sessions.FirstOrDefault(s => s.Id == Model.SessionId);
}

<div class="modal fade" id="deleteModal-@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete @Model.Name</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete @Model.Name ?<br/>
                Once it's gone, it's long gone...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark3" data-bs-dismiss="modal">Close</button>
                <button type="button" id="deleteInventoryButton" class="btn btn-red" data-inventoryId="@Model.Id">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="position-relative">
    @{
        if (user.Id == session.DungeonMaster)
        {
            <a class="cursor-pointer text-red position-absolute p-0 bottom-0 end-0" data-bs-toggle="modal" data-bs-target="#deleteModal-@Model.Id">Delete inventory</a>
        }
    }
    <h1 class="old-english text-brown">@Model.Name</h1>
</div>

<div id="fundsBox-@Model.Id" class="mb-2 p-3 bg-dark1 fundsBox shadow" data-inventoryId="@Model.Id">
    <div id="activeFunds" class="d-inline-flex">
        <p id="goldFunds" class="me-2 mb-0" style="color: darkgoldenrod" data-funds-amount="@Model.GroupFund.Gold">
            <svg style="vertical-align: baseline" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"></path>
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
            </svg>
            <x>@Model.GroupFund.Gold</x>
        </p>
        <p id="silverFunds" class="me-2 mb-0" style="color: silver" data-funds-amount="@Model.GroupFund.Silver">
            <svg style="vertical-align: baseline" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"></path>
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
            </svg>
            <x>@Model.GroupFund.Silver</x>
        </p>
        <p id="copperFunds" class="me-2 mb-0" style="color: #622F22" data-funds-amount="@Model.GroupFund.Copper">
            <svg style="vertical-align: baseline" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"></path>
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
            </svg>
            <x>@Model.GroupFund.Copper</x>
        </p>
    </div>

    @{
        if (user.Id == session.DungeonMaster)
        {
            <div class="mt-3">
                <i class="text-muted">Add or subtract to inventory funds</i>
                <div id="addFundsBox" class="d-flex">
                    <div class="form-floating">
                        <input class="form-control" id="gold" placeholder="0" size="4" name="gold">
                        <label class="form-label" for="gold">
                            <svg style="vertical-align: baseline;color: darkgoldenrod" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"></path>
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                            </svg>
                            <x>Gold</x>
                        </label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="silver" placeholder="0" size="4" name="silver">
                        <label class="form-label" for="silver">
                            <svg style="vertical-align: baseline;color: silver" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"></path>
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                            </svg>
                            <x>Silver</x>
                        </label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="copper" placeholder="0" size="4" name="copper">
                        <label class="form-label" for="copper">
                            <svg style="vertical-align: baseline;color: #622F22" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"></path>
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                            </svg>
                            <x>Copper</x>
                        </label>
                    </div>
                    <button class="btn btn-outline-blue" id="addFunds" type="submit" data-id="@Model.GroupFund">Add</button>
                    <button class="btn btn-outline-brown" id="removeFunds" type="submit">Subtract</button>
                </div>
            </div>
        }
    }
</div>

<table id="inventory-@Model.Id" class="table" data-giid="@Model.Id">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Value</th>
        <th scope="col">Rarity</th>
        <th scope="col">Type</th>
        <th scope="col">Charges</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var item in Model.Items)
        {
            <tr id="item-id-@item.Id" class="item" data-item-information="@Html.Encode(item.Description)">
                <th id="Item.Name" scope="row"><a class="btn btn-link p-0">@item.Name</a></th>
                <td id="Item.Value">@item.Value</td>
                <td id="Item.Rarity">@item.Rarity</td>
                <td id="Item.ItemType">@item.ItemType</td>
                <td id="Item.Charges">@item.Charges</td>
                <td class="px-0">
                    @{
                        
                        if (user.Id == session.DungeonMaster)
                        {
                            <button id="deleteButton" class="btn p-0 d-block" data-id="@item.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                </svg>
                            </button>
                        }
                    }
                </td>
            </tr>
        }
    }
    </tbody>
</table>
@{
        if (user.Id == session.DungeonMaster)
        {
            <div>
    
                <button id="newItem" data-giid="@Model.Id" class="btn btn-dark1 rounded-circle d-block m-auto" style="width: 40px; height: 40px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                    </svg>
                </button>
            </div>
        }
}

